<div class="top-toolbar">
    <img src="assets/logo.avif" alt="Company Logo" />
    <div class="nav-links">
        <a href="#home">Home</a>
        <a href="#about">About Us</a>
        <a href="#services">Our Services</a>
        <a href="#contact">Contact Us</a>
    </div>
</div>
<div class="main-background">

    <div id="about" class="component-section">
        <h2>About Us</h2>
        <p>
            Studio Zero G is the World’s Largest AntiGravity® Yoga Studio
            equipped with the latest, greatest, and most technologically
            advanced facility. Providing fun and fitness right here in your back
            yard. We are the only facility in Central Florida to offer,
            AntiGravity® Yoga, Massage Therapy, BOUNCE®, and soon Salt
            Therapy!
        </p>
        <p>
            AntiGravity® Yoga or aerial yoga is a new exciting and FUN form of
            fitness with the support of a silky material called the hammock. The
            hammock is a special material that can hold anywhere from 1/4 of a
            person’s weight to their entire weight and helps with flexibility by
            doing some of the work for us as well as giving us the resistance we
            need to tone the body. Aerial yoga uses moves and poses derived from
            dance, Pilates, yoga, and calisthenics with the hammock to increase
            strength and flexibility to tone the body. It also allows one to
            become more aware of the body’s alignment, and the body’s
            proprioceptors (the body’s sensory receptor in other words it allows
            you to have a “sense of self”).
        </p>
        <p>
            “Studio Zero G is the World’s Largest AntiGravity® Yoga Studio
            equipped with the latest, greatest, and most technologically
            advanced facility. Providing fun and fitness right here in your back
            yard. We are the only facility in Central Florida to offer,
            AntiGravity® Aerial Yoga, Massage Therapy, BOUNCE®, and soon Salt
            Therapy!”
        </p>
        <p>
            Massage Therapy is not only for pampering, it also has many health
            benefits. Massage can help in stress relief, pain management, and
            muscle tension. It can also help with reducing fatigue, anxiety and
            improve your sleep quality. In daily activities, it helps improve
            circulation as well as increasing energy and concentration.
        </p>
        <p>
            Studio Zero G's BOUNCE® is a dynamic fitness training system,
            conducted on specially developed BOUNCE® trampolines. BOUNCE® was
            born of the idea of developing a training program, that would
            considerably strengthen body and mind while keeping fun in mind. The
            basis of BOUNCE® is a combination of slow and fast jumps,
            variations of traditional aerobic steps, dynamic sprints and cross
            fit elements. The complexity of the exercises guarantees that your
            entire body will get conditioned. BOUNCE® is three times more
            effective than jogging and is low impact on the joints. This is due
            to the constant gravitational changes, which involve more than 400
            muscles being tightened and relaxed at the same time. Far more than
            is the case with most other types of endurance sports.
        </p>
        <p>
            For more than 20 years dry salt aerosol, administered in
            specially-designed halo-chambers, has been used to treat upper and
            lower respiratory conditions such as cold and flu, allergy, asthma,
            bronchitis, cystic fibrosis, sinus infection, rhinitis, hay fever
            and emphysema. ​ In addition, the anti-bacterial and
            anti-inflammatory properties of dry sodium chloride aerosol has been
            shown to effectively treat ear infection and conditions of the skin
            such as eczema, dermatitis and psoriasis.
        </p>
        <strong>Media Appearances:</strong>
        <ul>
            <li><a href="https://vimeo.com/91534985">Good Day Orlando Fox 35</a></li>
            <li><a href="https://www.clickorlando.com/lifestyle/2015/03/16/trampoline-workouts-could-be-the-next-fitness-craze/">Local 6</a></li>
        </ul>
    </div>
</div>
<footer class="footer">
    <div class="footer-content">
        <p>&copy; 2025 Studio Zero G, LLC. All rights reserved.</p>
        <p><a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a></p>
        <a
            href="https://www.facebook.com/studiozerog"
            target="_blank"
            class="svg-link"
        >
            <img
                src="../../../assets/facebook-brands.svg"
                alt="Description of Image"
                class="svg-icon"
            />
        </a>
        <a
            href="https://www.instagram.com/studiozerog"
            target="_blank"
            class="svg-link"
        >
            <img
                src="../../../assets/instagram-brands-solid.svg"
                alt="Description of Image"
                class="svg-icon"
            />
        </a>
        <a
            href="https://www.twitter.com/studiozerog"
            target="_blank"
            class="svg-link"
        >
            <img
                src="../../../assets/x-twitter-brands-solid.svg"
                alt="Description of Image"
                class="svg-icon"
            />
        </a>
        <img
            src="../../../assets/tiktok-brands.svg"
            alt="Description of Image"
            class="svg-icon"
            title="Coming Soon"
        />
    </div>
</footer>
